#page-home {
	/* 📌 vh =>	 view port height */
	height: 100vh;
	background: url('../../assets/home-background.svg') no-repeat;
	background-size: 52%;
	/* background-attachment: fixed;	 */
	/* 📌 vw =>	view port width */ 
    background-position: 46vw center;
}

#page-home .content {
	width: 90%;
	max-width: 1215px;
	height: 100%;

	margin: 0 auto;

	display: flex;
	flex-direction: column;
}

#page-home .content header img {
	/* position: absolute; */
	width: 511.84px;
	height: 159.8px;
	left: 72px;
	/* top: 141px; */
}

#page-home header {
	margin-top: 6%;

	/* deixando um item do lado do outro */
	display: flex;
	/* centralizando os itens */
	align-items: center;
	/* colocando um espaço entre eles */
	justify-content: space-between;
}

#page-home header a {
	display: flex;
	/* "variável" em root ⬆️ */
	color: var(--title-color);
	font-weight: 700;
}

#page-home header a span {
	margin-right: 16px;
	display: flex;

	background-image: url('../../assets/log-in.svg');

	width: 20px;
	height: 20px;
}

#page-home main {
	max-width: 560px;

	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: end;

	/* padding-top: 34%; */
}

#page-home main h1 {
	/* font-size: 40px;
	font-weight: 400; */
	/* position: absolute; */
	width: 512px;
	height: 138px;
	left: 72px;
	/* top: 343px; */

	font-family: "Poppins", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 37px;
	line-height: 46px;

	margin-top: 6%;
}

#page-home main p {
	font-size: 24px;
	line-height: 38px;
	margin-top: 24px;
}

#page-home main a {
	display: flex;
	align-items: center;

	/* position: absolute; */
	width: 260px;
	height: 57px;
	left: 77px;
	margin-top: 2%;
}

#page-home main a span {
 	width: 62px;
	height: 62px;
	border-radius: 50%;

	display: flex;
	align-items: center;
	justify-content: center;

	transition: 600ms; 
}


#page-home main a span#search:after {
	content: "";
	background: url('../../assets/search.svg') 0px;
	width: 40px;
	height: 40px;
}

#page-home main a span#create-point:after {
	content: "";
	background: url('../../assets/eco-caminhao.svg') -2px;
	width: 44px;
	height: 44px;
}


#page-home main a span#search:hover::after  {
	background-position: -50px;
}

#page-home main a span#create-point:hover::after  {
	background-position: -58px;
}


#page-home main a span:hover {
	background-color: #fff;
}

#page-home main a strong {
	flex: 1;
	margin-left: 4%;
	color: white;

	text-align: left;
	font-weight: 400;
}
